:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;
    --font-family: "Figtree", sans-serif;
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-300: 24px;
}

@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format(truetype-variations);
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format(truetype) tech('variations');
    font-weight: 400 1000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    line-height: 150%;
    letter-spacing: 0;
    color: var(--gray-950)
}

body {
    background-color: var(--yellow);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: var(--spacing-150);
}

.title:hover, .title:focus {
    color: var(--yellow);
    cursor: pointer;
}

.tag, .author {
    font-size: 14px;
    font-weight: 900;
}

.tag {
    padding: var(--spacing-50) var(--spacing-150);
    background-color: var(--yellow);
    border-radius: 4px;
    display: inline-block;
    margin-bottom: var(--spacing-150);
}

.author {
    .avatar {
        width: 32px;
        margin-right: var(--spacing-150)
    }
    display: flex;
    align-items: center;
}

.date {
    font-size: 14px;
    margin-bottom: var(--spacing-150);
}

.description {
    font-size: 16px;
    color: var(--gray-500);
    margin-bottom: var(--spacing-300);
}

.attribution { 
    a { 
        color: hsl(228, 45%, 44%);
    }
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: var(--spacing-150);
}

.card {
    .illustration {
        border-radius: 10px;
        margin-bottom: var(--spacing-300);
    }
    border-radius: 20px;
    background-color: var(--white);
    padding: var(--spacing-300);
    border: 1px solid var(--gray-950);
    box-shadow: var(--spacing-100) var(--spacing-100) var(--gray-950);
    width: 384px;
}